<h1>Quest for the missing Ruby: </h1>
<h3>The (Load Error) Chronicles</h3>

<h4>You are on a quest to find the missing ruby. Long ago, an evil monster stole the Kingdom's most prized posession. A ruby of great power. Ever since the ruby was stolen, the kingdom has been in chaos. The minstrels have been playing their ditties which no one can understand. The King has tasked you with this quest to bring back peace and order which will happen once the ruby has been recovered.</h4>

<br>
<h4>The King has supplied you with a Sword, a snack, an iPod and a magical healing potion in case you get into trouble.</h4>

<form action='/page0'>
  <button type='submit'>Accept the kings generous gifts</button>
</form>
