<!DOCTYPE html>
<html>
<head>
  <title>The (Load Error) Chronicles</title>
  <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
  <link rel='stylesheet' href='/css/styles.css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Press+Start+2P|Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
