<h1>The lock springs open and you go through the door</h1>
<h3>As you enter the room, you see an evil little goblin lurking in the shadows. You know from your extensive knowledge of goblins that they are scared of loud noises.</h3>

<hr>

<h4>Perhaps if you scream at him and startle him, you can suprise him and gain the advantage.  Maybe if you yell "i'm gonna git you goblin!"</h4>
<br>

<h4>
def startle_goblin<br>
  phrase = "i'm gonna git you goblin!"<br>
  yelled_phrase = phrase.XXXXXX<br>
XXXXXX<br>
</h4>
<form action='/page8'>
  <label for='first_spot'>Answer for the first missing piece</label>
  <input id='first_spot' name='first_spot' type='text'>
  <br>
  <label for='second_spot'>Answer for the second missing piece</label>
  <input id='second_spot' name='second_spot' type='text'>
  <br>
  <button type='submit'>Yell Out Loud</button>
</form>
