<h1>You think you know which door is the right door!</h1>
<h3>You think that the correct door is door number 2. Why dont you give it a try! </h3>
<hr>

<form action='/page6error'>
  <button type='submit'>Door 1</button>
</form>
<form action='/page7'>
  <button type='submit'>Door 2</button>
</form>
<form action='/page6error'>
  <button type='submit'>Door 3</button>
</form>


<hr>
