<% if @error == true %>
  <p>The enchantment didn't work. Try again. Here's a clue: </p>
  <p>sword._____({description: "enchanted sword"})</p>
<% else %>
  <p>The wizard is back and he is not happy. He says, "Who dares shuffles my script?"</p>
  <p>He says, "Whatever, the monster in the room will .destroy you."</p>
  <p>The wizard leaves.</p>
  <p>Oh, look at the enchantment powder on the ground. Use it to make your sword enchanted.</p>
<% end %>

  <p>def enchant</p>

    <form action='/page12' method='post'>
      <input name="_method" type="hidden" value="patch">

        <div class='form-group'>
          <label for='answer'>self.</label>
          <input id='answer' name='answer' type='text' placeholder='enter method'>
          ({:description => 'enchanted sword'})
          
      </div>
      <button class='btn-default'>Submit</button>

  <p>end</p>
