<div>
  <h4>
  <% if @error == 1 %>
  <p>Your Torch would only serve to better illuminate your form and make it easier for CRUD to bite you.</p>

  <% elsif @error == 2 %>
  <p>CRUD hates music, the philistine.  Now he is even more angry...</p>

  <% elsif @error == 3 %>
  <p>He smells your snack and is planning on taking it off your corpse once he is done with you...</p>

  <% elsif @error == 4 %>
  <p>I guess you could try to tie him up, but he seems pretty wily. He would probably do some damage by the time you wrangled him.</p>

  <% elsif @error == 5 %>
  <p>A key huh? Good luck with that...</p>

  <% else %>
  <% end %>

<% if @error == true %>
<h4><p>Well, you chose the right item, but that's not good enough! You are gonna need to slice off one body part from the goblin's body array at a time.  Start with the first limb and make sure to remove the head last! <br>One or more of your methods is wrong.</p>
<% end %>

<hr>
</h4>
</div>

<h1>You yell: "I'M GONNA GIT YOU GOBLIN!"</h1>

<hr>

<h3>The goblin CRUD momentarily loses all confidence in himself and stops his charge.  You need to pick a weapon to quckly dispatch the goblin before he ragains his former courage.  The only way to truly kill a goblin is to remove all his limbs one by one and then his head.</h3>


<form action='/page8' method='post'>
  <label for='item'>What item should you use to slay CRUD?</label>
  <select id='item' name='item' type='text'>
    <% Item.all.each do |item| %>
      <option value='<%= item.id %>'><%= item.description %></option>
    <% end %>
  </select><br><br>
<div class='code_block'>
  def dismember<br>
  &emsp;goblin_array = ["left_leg", "right_leg", "left_arm", "right_arm", "head" ]<br>
  &emsp;goblin_array.length.
  <input id='first_spot' name='first_spot' type='text' autocomplete='off' placeholder='method' required>
  do
  <br>
  &emsp;&emsp;goblin_array.
  <input id='second_spot' name='second_spot' type='text' autocomplete='off' placeholder='method' required>
<br>
  &emsp;end
  <br>
  &emsp;goblin_array
  <br>
  end
  <br>
  <br>
  CRUD.dismember
</div>
  <br>
  <br>
  And that's what it's all about!<br>
  <button type='submit'>Slice and Dice</button>
</form>
