<div class='error'>
<% if @error == true %>
<h4><p>Thats not nearly loud enough to scare a goblin, even if he is already a little jumpy.  Try again but make it <em>LOUD</em></p>
<% end %>

<% if @error_a == true %>
<p>Your method is wrong. Try again.</p>
<% elsif @error_b == true %>
<p>You didn't finish it right. Try again.</p></h4>
<% end %>

</div>

<div class='success'>
<h1>The lock springs open and you go through the door...</h1>

</div>

<div class='story'>
<h3>As you enter the room, you see the evil goblin CRUD lurking in the shadows. You know from your extensive knowledge of goblins that they are scared of loud noises.</h3>

<h3>Perhaps if you scream at him and startle him, you can suprise him and gain the advantage.  Maybe if you <em>yell</em> "i'm gonna git you goblin!"</h3>
<br>
</div>
<img src="/images/goblin.png" width=30% height=30%>



<div class='code_block'>
  def startle_goblin<br>
  &emsp;&nbsp;phrase = "i'm gonna git you goblin!"<br>
  <form action='/page7' method='post'>
    &emsp;&nbsp;yelled_phrase = phrase.
    <input id='first_spot' name='first_spot' type='text' autocomplete='off' class='placeholder' placeholder='make it loud!' required>
    <br>
    <input id='second_spot' name='second_spot' type='text' autocomplete='off' class='placeholder' placeholder='finish it' required>
  <br><br>CRUD.startle_goblin
  </div>
  <br><br>
  <button class='btn'>Yell Out Loud</button>
</form>
