<div class='error'>
  <h4>
  <% if @error == true %>
  <p>Looks like you're having some trouble saving. One or more of your answers is wrong. (Make sure to use three different steps.)</p>
<% end %>

</h4>
</div>
<div class='success'>
<h1>The cockroaches scurry away in fear from the light of your torch!</h1>
</div>

<div class='story'>
<h3>
After such a long and tiring journey, you deserve a rest. You remember you have a snack with you and take it out along with your iPod. While listening to .method_man you eat your snack, a <em>hash</em>_brown. You find a small corner to lay down and close your eyes to take a nap.</h3>

<h3>Whew! After a nice little nap you wake up and decide to continue your quest. However you first want to reflect on all the incredible things you have accomplished. You want to make sure you remember every detail to tell all your friends back home. It looks like this would be a good place to save your progress on git.</h3>
<br>

</div>
<div class='code_block'>
  <form action='/page10' method='post'>
    <div class='form-group'>
      <label for='answer1'>git </label>
      <input id='answer1' name='answer1' type='text' class='placeholder' placeholder='enter command' autocomplete='off' required>
      <br><br>
      <label for='answer2'>git </label>
      <input id='answer2' name='answer2' type='text' class='placeholder' placeholder='enter command' autocomplete='off' required>
      <br><br>
      <label for='answer3'>git </label>
      <input id='answer3' name='answer3' type='text' class='placeholder' placeholder='enter command' autocomplete='off' required>
    </div>
  </div>
  <button class='btn'>submit</button>
</form>
