<h1>The minstrel doesn't know this ditty. </h1>

# add an image tag here

<h3>Oops, seems like there was an error in loading the quest. Why don't you try to manually set your path </h3>

<hr>

<h3>Try filling in the gaps:<br>
  <u>XXXXXX</u> '/cave_entrance' do<br>
    erb(:<u>XXXXXX</u>)<br>
  end
</h3>

<form action='/page2'>
  <label for='first_spot'>Answer for the first missing piece</label>
  <input id='first_spot' name='first_spot' type='text'>
  <br>
  <label for='second_spot'>Answer for the second missing piece</label>
  <input id='second_spot' name='second_spot' type='text'>
  <br>
  <button type='submit'>Find the path</button>
</form>
