<h1>The key has been added to your inventory</h1>
<hr>

# show all items here
remember to add potion
<hr>

<h3>Continuing on your path through the cave you come to a large open wooden door. As you walk through the entrance, the door suddenly slams closed behind you. You attempt to open the door to no avail. Looking around to the front you notice a metal ring anchored to the cave walls with a pile of pieces of "string". As you keep exploring the area you notice a large drop off to the cave floor below. You think you can just make out a number of doors at the bottom. </h3>

<h4>It looks like six pieces of "string" tied or <em>joined</em> together to form a rope could reach the bottom...</h4>

<h4>Look at this, there is an empty array in the corner...hmm I wonder...</h4>

<h4> Lets try this, <br>
  rope_array = [] <br>
  XXXXXX.times do <br>
  rope_array.XXXXXX('string') <br>
  end <br>
  rope = rope_array.XXXXXX <br>
</h4>

<form action='/page4'>
  <label for='first_spot'>Answer for the first missing piece</label>
  <input id='first_spot' name='first_spot' type='text'>
  <br>
  <label for='second_spot'>Answer for the second missing piece</label>
  <input id='second_spot' name='second_spot' type='text'>
  <br>
  <label for='third_spot'>Answer for the third missing piece</label>
  <input id='third_spot' name='third_spot' type='text'>
  <br>
  <button type='submit'>Create Rope</button>
</form>
