<h1>You chopped the once mighty <em>Nil</em>iathan down to <em>Nil</em> !</h1>

<h3>With your victory, you walk over to claim your prize. You pick up the ruby and return back to the kingdom where the minstrels will sing songs and you will be regarded as a hero for generations to come. With the return of the ruby, order is restored to the kingdom and the lives of the people are happy once again.</h3>
