<div class='success'>
<h1>You have chopped the once mighty <em>Nil</em>iathan down to <em>Nil</em> !</h1>
<hr>
</div>

<div class='story'>
<h3>With your victory, you walk over to claim your prize. You pick up the ruby and return back to the kingdom where the minstrels will sing songs of your bravery and you will be regarded as a hero for generations to come.</h3>
<h3> With the return of the ruby, order is restored to the kingdom and the lives of the people are happy once again.</h3>
<form action="/">
  <button class='btn btn-sm btn-default'>Return to the Start</button>
</form>
</div>
