<div>
<% if @error == true %>
<h4><p>That was not the right door, the key does not work. We get it, reading is tough, especially reading evil markings.  Try another door.</p>
<% end %>
</h4>
<hr>
</div>
<h1>You have compared the markings!</h1>
<hr>
<h3>Using the markings from the door and the markings on the key you figure out that you are supposed to use the key on Door 2. Why dont you give it a try! </h3>

<hr>

<form action='/page6' method='post'>
  <button type='submit'>Door 1</button>
</form>
<br>
<form action='/page7'>
  <button type='submit'>Door 2</button>
</form>
<br>
<form action='/page6' method='post'>
  <button type='submit'>Door 3</button>
</form>
