<div class='error'>
  <h4>
<% if @error == 1 %>
<p>Oh no! The cockroaches are multiplying. And now they are angered over their fallen comerades!</p>

<% elsif @error == 2 %>
<p>That was a good idea, the music did seem to soothe them a bit but they quickly remembered their goal, to eat you.</p>

<% elsif @error == 3 %>
<p>You should probably hold keep that snack for later...</p>

<% elsif @error == 4 %>
<p>It does not seem like a rope would be a very good option for fending off cockroaches...</p>

<% elsif @error == 5 %>
<p>Hmmm... a key to fight off a horde of large cockroaches... I don't know... I guess you could try but...</p>
<% end %>

</h4>
</div>

<div class='success'>
<h1>The goblin has been slain! What a mess...</h1>

</div>

<div class='story'>
<h3>As you walk down the now unobstructed (and very messy) passage a flood of large cockroaches begins to spill out from every crack and crevice. If you don't act fast you will soon be overrun with the scurrying insects! Quickly choose one of you items to dispatch with them!</h3>
</div>

<img class='bug' src='/images/cockroach.png'><img class='bug' src='/images/cockroach.png'><img class='bug' src='/images/cockroach.png'><img class='bug' src='/images/cockroach.png'> 

<div class='code_block'>
<form action='/page9' method='post'>
  <div class='form-group'>
    <label for='item'>What item should you use to fight them off?</label>
    <select class='placeholder' id='item' name='item' type='text'>
      <% Item.all.each do |item| %>
        <option value='<%= item.id %>'><%= item.description %></option>
      <% end %>
    </select>
  </div>
  <button class='btn'>submit</button>
  </div>
</form>
