<div class='error'>
  <h4>
<% if @error == true %>
  <p>The enchantment didn't work. Try again. Here's a clue: We're changing the properties of the sword. Make sure everything is up to date.</p>
<% end %>
<hr>
</h4>
</div>

<div class='success'>
<h1>You shuffled his script pages around and now Daemon is confused!</h1>
<hr>
</div>
<div class='story'>
<h3>He can no longer maintain the barrier around the door. When the wizard returns he is furious. He shouts "Who dares shuffle my scripts? No matter, the monster behind the door is perfectly capable of defending the ruby. He will .destory anything or anyone in his path." As the wizard turns to leave you notice something falls from his robes, it is a small pouch. You run over to investigate what it was and see that it is enchantment powder. You could probably use it on your sword for the battle that lies ahead. </h3>
<br>

</div>
<div class='code_block'>
  def enchant

    <form action='/page12' method='post'>
      <input name="_method" type="hidden" value="patch">

        <div class='form-group'>
          <label for='answer'>self.</label>
          <input id='answer' name='answer' type='text' placeholder='enter method' autocomplete='off' required>
          ({:description => 'enchanted sword'})
          <br>end<br><br>
          sword.enchant
      </div>
      <button class='btn btn-sm btn-default'>Enchant Sword</button>
    </form>
</div>
