<div class='error'>
<% if @error == true %>
<h4><p>That was not the right door, the key does not work. We get it, reading is tough, especially reading evil markings.  Try another door.</p>
<% end %>
</h4>

</div>

<div class='success'>
<h1>You have compared the markings!</h1>

</div>
<div class='story'>
<h3>Using the markings from the door and the markings on the key you figure out that you are supposed to use the key on Door 2. Why dont you give it a try! </h3>


</div>
<form action='/page6' method='post'>
  <button class='btn'>Door 1</button>
</form>
<br>
<form action='/page7'>
  <button class='btn'>Door 2</button>
</form>
<br>
<form action='/page6' method='post'>
  <button class='btn'>Door 3</button>
</form>
