<% if @error == true %>
  <p>The monster is still alive. Try again.</p>
  <p>Hint: monster = "monster"
  <br> monster.kill_monster()
  </p>
<% else %>
<h1>You did it! Your sword has a strange aura around it. Your sword now feels lighter and more powerful.</h1>
<% end %>
<% if @error_a == true %>
<p>You haven't hit the monster enough times! Try again.</p>
<% elsif @error_b == true %>
<p>Your method is wrong. Try again.</p>
<% end %>

<hr>
<h3>
  As you walk confidently into the room in search of the ruby, you lose some of your confidence as you see a monster 10x your size between you and the ruby. The monster points it's claw hand at you and says; "I am the mighty <em>Nil</em>iathan! The ruby belongs to me and anyone who tries to take it will be .destoryed!" You take out your enchanted sword to do battle with the monster. It seems like it would take more than a few strikes to kill <em>Nil</em>iathan.

  *Hint: the monster is a string*
</h3>



<h4>
<p>def kill_monster</p>
<form action='/page13' method='post'>
  <div class='form-group'>
    <input id='answer1' name='answer1' type='text' placeholder='number of hits' autocomplete='off' required>
    .times( ) do
    <br>
    <label for='answer2'>"Niliathan".</label>
    <input id='answer2' name='answer2' type='text' placeholder='method' autocomplete='off' required>
  <br>end
  <br>end</h4>
  </div>
  <button class='btn btn-sm btn-default'>Strike</button>
</form>
