<div>
<% if @error == true %>
<h4><p>You need to use the markings on the key as a way to <em>identify</em> the door the key belongs to.</p>
<% end %>
<% if @error_a == true %>
<p>Your 'request' is wrong. Try again.</p>
<% elsif @error_b == true %>
<p>Your 'key' is wrong. Try again.</p></h4>
<% end %>
<hr>
</div>

<h1>Wow, that feels better.</h1>
<hr>
<h3>You stand up, the potion the king gave you worked like a charm and you feel good as new. Now that the tears have stopped you see before you three doors, each with unique markings above them.  The writing is some ancient and evil text, unintelligible to you.  You try the first door, it is locked.  You try the second and third, they are locked too.</h3>

<h3>Could you somehow compare the markings on the key to the markings on the door to figure out what door the key goes to?</h3>
<br>



<h4>What if...<br>
  def pick_the_right_door<br>
<form action='/page5' method="post">
  key_id =
  <input id='first_spot' name='first_spot' type='text' autocomplete='off' placeholder='request' required>
  <label for='first_spot'>.fetch("markings_from_key").to_i( )</label><br>
  <label for='second_spot'>right_door = Door.find(</label>
  <input id='second_spot' name='second_spot' type='text' autocomplete='off' placeholder='which key?' required>
  )
  <br>
  end<br><br>
  door.pick_the_right_door</h4>
  <button type='submit'>Pick Right Door</button>
</form>
