<div>
<% if @error == true %>
<h4><p>Thats not nearly loud enough to scare a goblin, even if he is already a little jumpy.  Try again but make it <em>LOUD</em></p>
<% end %>

<% if @error_a == true %>
<p>Your method is wrong. Try again.</p>
<% elsif @error_b == true %>
<p>You didn't finish it right. Try again.</p></h4>
<% end %>
<hr>
</div>

<h1>The lock springs open and you go through the door...</h1>
<hr>
<h3>As you enter the room, you see the evil goblin CRUD lurking in the shadows. You know from your extensive knowledge of goblins that they are scared of loud noises.</h3>

<h3>Perhaps if you scream at him and startle him, you can suprise him and gain the advantage.  Maybe if you <em>yell</em> "i'm gonna git you goblin!"</h3>
<br>

<h4>
def startle_goblin<br>
  phrase = "i'm gonna git you goblin!"<br>


<form action='/page7' method='post'>
  <label for='first_spot'>yelled_phrase = phrase.</label>
  <input id='first_spot' name='first_spot' type='text' autocomplete='off' placeholder='make it loud!' required>
  <br>
  <input id='second_spot' name='second_spot' type='text' autocomplete='off' placeholder='finish it' required>
<br><br>CRUD.startle_goblin</h4>
  <button type='submit'>Yell Out Loud</button>
</form>
