<% if @error == true %>
<p>Thats not nearly loud enough to scare a goblin, even if he is already a little jumpy.  Try again but make it <em>LOUD</em></p>

<% else %>
<h1>The lock springs open and you go through the door</h1>
<h3>As you enter the room, you see an evil little goblin lurking in the shadows. You know from your extensive knowledge of goblins that they are scared of loud noises.</h3>
<% end %>
<hr>

<h4>Perhaps if you scream at him and startle him, you can suprise him and gain the advantage.  Maybe if you yell "i'm gonna git you goblin!"</h4>
<br>

<h4>
def startle_goblin<br>
  phrase = "i'm gonna git you goblin!"<br>


<form action='/page7' method='post'>
  <label for='first_spot'>yelled_phrase = phrase.</label>
  <input id='first_spot' name='first_spot' type='text' placeholder='make it loud!' required>
  <br>
  <label for='second_spot'></label>
  <input id='second_spot' name='second_spot' type='text' placeholder='finish it' required>
</h4><br>
  <button type='submit'>Yell Out Loud</button>
</form>
