body {
  background: url("../images/scroll_background_page.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 15%;
  padding-top: 15px;
  line-height: 30px;
  font-family: 'Press Start 2P', cursive;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.abc {
  display: inline-block;
  margin: 0 auto;
  }

.bug {
  float: left;
  margin: 0px 0px 15px 15px;
}
.lastpage {
  float: left;
  margin: 0px 0px 15px 15px;

}

.ruby {
  opacity: 0.8;
  border-radius: 200px;
  width: 30%;
  height: 30%;
}

.title {
  text-align: center;
}



.code_block {
  background-color: lightgrey;
  padding: 5px 10px 5px 15px;
  border-radius: 10px;
  font-family: 'Source Code Pro', cursive;
}

.story {
  font-size: 15px;
}




.inventory {
  font-size: 12px;
  line-height: 5px;
}

.inventory ul {
  list-style-type: none;
}

.error {
  color: #C93636;
}

.success {
  color: #164E16;
}

.btn {
  font-family: 'Press Start 2P', cursive;
}


body hr {
  height: 5px;

}

.placeholder {
  color: #4C934C;
  font-family: 'Source Code Pro', cursive;
  font-size: 15px;
}

.potion {
  margin: 0 auto;
}
